<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>
	<context-param>
		<param-name>emailOfwebmaster</param-name>
		<param-value>yuyifan@bupt.edu.cn</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>mypack.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/dispatcher</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>info</servlet-name>
		<servlet-class>mypack.RequestInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>info</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>mypack.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>contextTest</servlet-name>
		<servlet-class>mypack.ContextTesterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contextTest</servlet-name>
		<url-pattern>/contextTest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Font</servlet-name>
		<servlet-class>mypack.FontServlet</servlet-class>
		<init-param>
			<param-name>color</param-name>
			<param-value>blue</param-value>
		</init-param>
		<init-param>
			<param-name>size</param-name>
			<param-value>15</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Font</servlet-name>
		<url-pattern>/font</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>login.htm </welcome-file>
	</welcome-file-list>
	
</web-app>