<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>
	<context-param>
		<param-name>emailOfwebmaster</param-name>
		<param-value>yuyifan@bupt.edu.cn</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>lifeInit</servlet-name>
		<servlet-class>mypack.LifeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>lifeInit</servlet-name>
		<url-pattern>/lifeInit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>counter</servlet-name>
		<servlet-class>mypack.CounterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>counter</servlet-name>
		<url-pattern>/counter</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>clear</servlet-name>
		<servlet-class>mypack.CounterClearServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clear</servlet-name>
		<url-pattern>/clear</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>excep</servlet-name>
		<servlet-class>mypack.ExceptionTesterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>excep</servlet-name>
		<url-pattern>/excep</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>life</servlet-name>
		<servlet-class>mypack.LifeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>life</servlet-name>
		<url-pattern>/life</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>mypack.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/dispatcher</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>info</servlet-name>
		<servlet-class>mypack.RequestInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>info</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>mypack.UploadServlet</servlet-class>
		<init-param>
			<param-name>filePath</param-name>
			<param-value>store</param-value>
		</init-param>
		<init-param>
			<param-name>tempFilePath</param-name>
			<param-value>temp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>mypack.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>image</servlet-name>
		<servlet-class>mypack.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>image</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cookie</servlet-name>
		<servlet-class>mypack.CookieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cookie</servlet-name>
		<url-pattern>/cookie</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>contextTest</servlet-name>
		<servlet-class>mypack.ContextTesterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contextTest</servlet-name>
		<url-pattern>/contextTest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>mypack.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Font</servlet-name>
		<servlet-class>mypack.FontServlet</servlet-class>
		<init-param>
			<param-name>color</param-name>
			<param-value>blue</param-value>
		</init-param>
		<init-param>
			<param-name>size</param-name>
			<param-value>15</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Font</servlet-name>
		<url-pattern>/font</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>login.htm </welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>mypack.MyServletContextListener</listener-class>
	</listener>
</web-app>